*{
  padding: 0px;
  margin: 0px;
}

.linha{
  box-shadow: 7px 3px 3px grey;
  border: 1px solid black;
  border-radius: 25px;
  max-width: 700px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  background: #F1F1F1;
}

.logo{
  width: 30%;
}

.logo img{
  height: 20px;
  width: auto;
  padding: 15px;
  display: block;
  margin: 0px auto;
  display: block;
}

nav{
  width: 70%;
  text-align: center;
}

.link{
  color: #381932;
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-family: Segoe UI, "Helvetica Neue", sans-serif;
}

.contatbtn{
  box-shadow: 6px 2px 2px grey;
  background: #381932;
  color: #F1F1F1;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-family: Segoe UI, "Helvetica Neue", sans-serif;
  transition: background-color 0.2s;
}

.contatbtn:hover{
  background-color: #6b3fa0;
}
