body{
  padding: 0px;
  margin: 0px;
}
h1{
  padding: 0px;
  margin: 0px;
}

.linha{
  border: 1px solid black;
  border-radius: 25px;
  margin: 5px 36% 5px 36%;
  display: flex;
  align-items: center;
}

.logo{
  width: 30%;
}

.logo img{
  height: 20px
  width: 50%;
  padding: 15px;
  display: block;
  margin: 0px auto 0px auto;
}

nav{
  width: 70%;
}

.menu a{
  padding: 15px;
  font-size: 12px;
  text-decoration: none;
  font-family: Segoe UI, "Helvetica Neue", sans-serif;
}

