body{
  padding: 0px;
  margin: 0px;
}
h1{
  padding: 0px;
  margin: 0px;
}
.linha{
  display: flex;
}
.logo{
  width: 30%;
}

.logo img{
  height: 20px;
  padding: 15px
}

.nav{
  width: 70%;
}

.menu a{
  padding-left: 25px;
  font-size: 12px;
  text-decoration: none;
  font-family: Manrope, "Helvetica Neue", sans serif;
}

